<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourist Attractions</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Touristattraktioner</h1>

<a th:href="@{/}">tilbage</a>

<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>By</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.name}">YO</td>
        <td th:text="${attraction.description}">YO2</td>
        <td th:text="${attraction.city}">YO2</td>
        <td class="attraction-element-action-buttons">
            <form th:action="@{/attractions/{name}/edit(name=${attraction.name})}" method="get">
                <button>Opdater</button>
            </form>
            <form th:action="@{/attractions/{name}/delete(name=${attraction.name})}" method="post">
                <button>Slet</button>
            </form>
            <form th:action="@{/attractions/{name}/tags(name=${attraction.name})}" method="get">
                <button>Tags</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/attractions/add}" method="get">
    <button class="add-attractions-button">Tilføj attraktion</button>
</form>
</body>
</html>